extends layout

block content
  h1 Pick a login
  ul
    li
      a(href="/auth/google", class="google")
        i(class="fa fa-google-plus")
    li
      a(href="/auth/facebookj", class="facebook")
        i(class="fa fa-facebook")
    li
      a(href="/auth/twitter", class="twitter")
        i(class="fa fa-twitter")
    li
      a(href="/auth/github", class="github")
        i(class="fa fa-github")